#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "jackett"
name = "Jackett"
description.en = "API support for your favorite torrent trackers"
description.fr = "API pour vos trackers torrent préférés"

version = "0.22.584~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "GPL-2.0"
code = "https://github.com/Jackett/Jackett"

[integration]
yunohost = ">= 11.2.28"
architectures = ["amd64", "arm64", "armhf"]
multi_instance = true
ldap = false
sso = false
disk = "200M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/jackett"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/Jackett/Jackett/releases/download/v0.22.584/Jackett.Binaries.LinuxAMDx64.tar.gz"
    amd64.sha256 = "7737e815994468bb7380a1bc188edbedfba3fcd5df7948dbbb4b7b593eccc66b"
    arm64.url = "https://github.com/Jackett/Jackett/releases/download/v0.22.584/Jackett.Binaries.LinuxARM64.tar.gz"
    arm64.sha256 = "c932e8fc0ad04e38565054d92b860b7495065fbbf358ff3054d2d4c846f97077"
    armhf.url = "https://github.com/Jackett/Jackett/releases/download/v0.22.584/Jackett.Binaries.LinuxARM32.tar.gz"
    armhf.sha256 = "1f70014ce9ed8e4b8ef20b49eb91a88a488b173a83ed808ed5c69872122679cf"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^Jackett.Binaries.LinuxAMDx64.tar.gz$"
    autoupdate.asset.arm64 = "^Jackett.Binaries.LinuxARM64.tar.gz$"
    autoupdate.asset.armhf = "^Jackett.Binaries.LinuxARM32.tar.gz$"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 9117
