[Unit]
Description=Jackett Daemon
After=network.target

[Service]
SyslogIdentifier=jackett
Restart=always
RestartSec=5
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/sh "__FINALPATH__/jackett_launcher.sh" --Port __PORT__ 
#--NoUpdates
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
