[Unit]
Description=Jackett Daemon
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/sh "__FINALPATH__/jackett_launcher.sh" --Port __PORT__ 
#--NoUpdates
Environment=XDG_CONFIG_HOME=__FINALPATH__/
TimeoutStopSec=30
SyslogIdentifier=jackett
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
